body {
  background-color: #121212;
  color: #fff;
  padding: 1rem;
}

.card {
  background-color: #1e1e1e;
  color: #fff;
  border: none;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(255,255,255,0.05);
}

.form-control, .form-select {
  background-color: #2a2a2a;
  color: #fff;
  border: 1px solid #444;
}

.btn {
  border-radius: 1rem;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #121212;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
}

#admin-panel {
  margin-bottom: 2rem;
}

.image-preview {
  max-width: 100%;
  max-height: 200px;
  margin-top: 10px;
  border-radius: 0.5rem;
}
